## Aqui comienzo el EDA O Analisis Exploratorio de Datos

In [3]:
import pandas as pd 
import seaborn
import matplotlib
import numpy as np

In [4]:
#creo mi dataframe
data = pd.read_csv(r'D:\Denise_Estudio\henry\PI\datos\movies_data.csv')

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44400 entries, 0 to 44399
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   budget                      44400 non-null  float64
 1   id                          44400 non-null  int64
 2   original_language           44400 non-null  object
 3   overview                    44400 non-null  object
 4   popularity                  44400 non-null  float64
 5   release_date                44400 non-null  object
 6   revenue                     44400 non-null  int64
 7   runtime                     44400 non-null  float64
 8   status                      44400 non-null  object
 9   title                       44400 non-null  object
 10  vote_average                44400 non-null  float64
 11  vote_count                  44400 non-null  float64
 12  genres_clean                44400 non-null  object
 13  companies_names             44400 non-null  object
 14  spoken_languages_clear      40779 non-null  object
 15  production_countries_clean  38507 non-null  object
 16  name_collection             44400 non-null  object
 17  return                      44400 non-null  float64
 18  release_year                44400 non-null  int64
 19  cast_clean                  42144 non-null  object
 20  director                    44400 non-null  object
dtypes: float64(6), int64(3), object(12)
memory usage: 7.1+ MB

In [6]:
data

,budget,id,original_language,overview,popularity,release_date,revenue,runtime,status,title,...,vote_count,genres_clean,companies_names,spoken_languages_clear,production_countries_clean,name_collection,return,release_year,cast_clean,director
0,30000000.0,862,en,"Led by Woody, Andy's toys live happily in his ...",21.946943,1995-10-30,373554033,81.0,Released,Toy Story,...,5415.0,"Animation, Comedy, Family",Pixar Animation Studios,English,United States of America,Toy Story Collection,12.451801,1995,"Tom Hanks, Tim Allen, Don Rickles, Jim Varney,...",John Lasseter
1,65000000.0,8844,en,When siblings Judy and Peter discover an encha...,17.015539,1995-12-15,262797249,104.0,Released,Jumanji,...,2413.0,"Adventure, Fantasy, Family","TriStar Pictures, Teitler Film, Interscope Com...","English, Fran√ßais",United States of America,0,4.043035,1995,"Robin Williams, Jonathan Hyde, Kirsten Dunst, ...",Joe Johnston
2,0.0,15602,en,A family wedding reignites the ancient feud be...,11.712900,1995-12-22,0,101.0,Released,Grumpier Old Men,...,92.0,"Romance, Comedy","Warner Bros., Lancaster Gate",English,United States of America,Grumpy Old Men Collection,0.000000,1995,"Walter Matthau, Jack Lemmon, Ann-Margret, Soph...",Howard Deutch
3,16000000.0,31357,en,"Cheated on, mistreated and stepped on, the wom...",3.859495,1995-12-22,81452156,127.0,Released,Waiting to Exhale,...,34.0,"Comedy, Drama, Romance",Twentieth Century Fox Film Corporation,English,United States of America,0,5.090760,1995,"Whitney Houston, Angela Bassett, Loretta Devin...",Forest Whitaker
4,0.0,11862,en,Just when George Banks has recovered from his ...,8.387519,1995-02-10,76578911,106.0,Released,Father of the Bride Part II,...,173.0,Comedy,"Sandollar Productions, Touchstone Pictures",English,United States of America,Father of the Bride Collection,0.000000,1995,"Steve Martin, Diane Keaton, Martin Short, Kimb...",Charles Shyer
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44395,0.0,30840,en,"Yet another version of the classic epic, with ...",5.683753,1991-05-13,0,104.0,Released,Robin Hood,...,26.0,"Drama, Action, Romance","Westdeutscher Rundfunk (WDR), Working Title Fi...",English,"Canada, Germany, United Kingdom, United States...",0,0.000000,1991,"Patrick Bergin, Uma Thurman, David Morrissey, ...",John Irvin
44396,0.0,111109,tl,An artist struggles to finish his work while a...,0.178241,2011-11-17,0,360.0,Released,Century of Birthing,...,3.0,Drama,Sine Olivia,NaN,Philippines,0,0.000000,2011,"Angel Aquino, Perry Dizon, Hazel Orencio, Joel...",Lav Diaz
44397,0.0,67758,en,"When one of her hits goes wrong, a professiona...",0.903007,2003-08-01,0,90.0,Released,Betrayal,...,6.0,"Action, Drama, Thriller",American World Pictures,English,United States of America,0,0.000000,2003,"Erika Eleniak, Adam Baldwin, Julie du Page, Ja...",Mark L. Lester
44398,0.0,227506,en,"In a small town live two brothers, one a minis...",0.003503,1917-10-21,0,87.0,Released,Satan Triumphant,...,0.0,no register,Yermoliev,NaN,Russia,0,0.000000,1917,"Iwan Mosschuchin, Nathalie Lissenko, Pavel Pav...",Yakov Protazanov
44399,0.0,461257,en,50 years after decriminalisation of homosexual...,0.163015,2017-06-09,0,75.0,Released,Queerama,...,0.0,no register,no register,English,United Kingdom,0,0.000000,2017,NaN,Daisy Asquith

In [7]:
data.describe()

,budget,id,popularity,revenue,runtime,vote_average,vote_count,return,release_year
count,4.440000e+04,44400.000000,44400.000000,4.440000e+04,44400.000000,44400.000000,44400.000000,4.440000e+04,44400.000000
mean,4.327046e+06,106641.371667,2.981403,1.148295e+07,95.058401,5.646599,112.364955,6.745522e+02,1991.795901
std,1.762172e+07,111603.836256,6.063993,6.507368e+07,37.487988,1.885234,496.871398,7.550974e+04,24.135482
min,0.000000e+00,2.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,1874.000000
25%,0.000000e+00,25832.750000,0.408097,0.000000e+00,85.000000,5.000000,3.000000,0.000000e+00,1978.000000
50%,0.000000e+00,58398.000000,1.166672,0.000000e+00,95.000000,6.000000,10.000000,0.000000e+00,2001.000000
75%,0.000000e+00,152742.750000,3.826337,0.000000e+00,107.000000,6.800000,35.000000,0.000000e+00,2010.000000
max,3.800000e+08,469172.000000,547.488298,2.787965e+09,1256.000000,10.000000,14075.000000,1.239638e+07,2020.000000

In [8]:
#busacar valores validos

SyntaxError: invalid syntax (3718707512.py, line 2)

In [9]:
# N√∫mero total de valores en el DataFrame
total_valores = data.size

In [10]:
# Encontrar los valores √∫nicos de generos 
data['genres_clean'].unique()

array(['Animation, Comedy, Family', 'Adventure, Fantasy, Family',
       'Romance, Comedy', ..., 'Crime, Comedy, Action, Family',
       'Action, Mystery, Thriller, Horror',
       'Family, Animation, Romance, Comedy'], dtype=object)

In [ ]:
data['release_date'].unique()

array(['1995-10-30', '1995-12-15', '1995-12-22', ..., '1904-03-05',
       '1991-05-13', '1917-10-21'], dtype=object)

In [11]:
#buscar datos que no correspondan
invalid_dates = data[~pd.to_datetime(data['release_date'], errors='coerce').notnull()]

In [12]:
#este esta vacio
invalid_dates

Empty DataFrame
Columns: [budget, id, original_language, overview, popularity, release_date, revenue, runtime, status, title, vote_average, vote_count, genres_clean, companies_names, spoken_languages_clear, production_countries_clean, name_collection, return, release_year, cast_clean, director]
Index: []

[0 rows x 21 columns]

In [16]:
#limpiar de caracteres raros
import re
# Definir la expresi√≥n regular para caracteres permitidos
regex = re.compile(r'^[a-zA-Z0-9\s\.,\?!-]+$')

# Filtrar el DataFrame
df_clean = data[data['title'].apply(lambda x: bool(regex.match(x)))]

In [18]:
df_clean.shape

(37673, 21)